.mainWrapper {
  display: flex;
  justify-content: center;
  background-color: #aaa;
  padding: 40px 100px;
}

.editor {
  background-color: #fff;
  border-radius: 4px;
  height: 800px;
  width: 100%;
}
